@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 300px;
  border: 2px solid rgb(204, 204, 204);
  padding: 20px;
  border-radius: 10px;
}

.num-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 30px 0;
  background-color: rgb(240, 240, 240);
  padding: 10px 10px;
  border-radius: 5px;
  transition: 0.3s all ease;
}

.num-container:hover {
  box-shadow: 1px 3px 5px 0.5px #00000018;
}

#num-secondary {
  height: 25px;
}
#num-main {
  height: 40px;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 2rem;
}

.btn-container button {
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease;
  font-weight: 500;
}

/* .btn-container button:hover {
  box-shadow: 0px 1px 5px 1px #00000042;
} */

.btn-container button:hover {
  filter: brightness(0.95);
}

.btn-big {
  grid-column: span 2;
  background-color: rgb(255, 0, 64);
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
}
